
 h2{
   font-size: 100%;
   font-style: oblique;  
   color: blue;
 }
 span{
   font-style: italic;
 }
 .container{
   display: flex;
   justify-content: space-around;
 }
 .box{
   height: 50%;
   width: 25%;
   background-color: aquamarine;
   border: 1px solid blue;
 }
 footer{
   margin-top: 10px;
   clear: both;
 }
 #home{
  font-size: 200%; 
  color: rgb(42, 165, 52);
}
#about{
  font-size: 200%; 
  color: blue;
}
#projects{
  font-size: 200%;
  color: rgb(255, 0, 179);
}
li{
  font-size: 120%;
}