* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Navbar */
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #0062ff;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Hero Section */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 2rem;
}

.button{
    background: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.button:hover {
    background: darkblue;
}

/* Featured Projet */
.featured-project{
    background: white;
    padding: 2rem;
    margin: 2rem auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Footer */
.footer {
    margin-top: 2rem;
    padding: 1rem;
    background: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}